.container {
  border: 2px solid #a99797;
  border-radius: 8px;
  padding: 16px;
  max-width: 400px;
  margin: 1.5rem auto;
  text-align: center;
}

.image {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin-bottom: 16px;
}

.content {
  display: flex;
  flex-direction: row-reverse; /* Разворачиваем направление оси для кнопок */
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.button {
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #78ad7e;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #e4c00f;
}

.button.show {
  background-color: #ccc;
  color: #333;
}

.button.show:hover {
  background-color: #999;
}
