.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .product-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .product-item button {
    margin-top: 10px;
    height: 33.4px;
    padding: 8px 16px;
    border-radius: 16px;
    font-size: 14px;
    cursor: pointer;
    background-color: #1976d2;
    color: white;
    border: 1px solid lightskyblue;
  }
  