body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    background: #fff;
    color: #1c1e21;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  
  }
  main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #f0f2f5;
  }
  .content {
    width: 65%;
    height: 100vh;
    margin: 0 0;
    display: flex;
    justify-content: space-between;
    background-color: #f0f2f5;
    align-items: center;
    position: relative;
    
  }
  .content__left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50vw;
  }
  .content__left__logo {
    float: left;
    display: block;
    width: 301px;
    margin: -28px;
  }
  .content__left__text {
    display: flex;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
  }
  .content__right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50vw;
    padding-left: 7%;
    box-sizing: border-box;
    
  }
  .content__right__block {
    background-color: red;
    width: 396px;
    height: 348px;
    padding: 12px 0 0 0;
    background-color: white;
    box-sizing: border-box;
    margin-top: 50px;
    display: inline-block;
    text-align: center;
    border-radius: 7px;
    box-shadow: 0 2px 4px rgb(0 0 0/10%), 0 8px 16px rgb(0 0 0/10%);
  }
  input {
    display: block;
    background-color: #fff;
    margin: 0 16px;
    border: 1px solid #dddf;
    width: 330px;
    padding: 14px 16px;
    border-radius: 6px;
    color: black;
    font-size: 17px;
  }
  .btn_login {
    display: block;
    font-size: 20px;
    color: #fff;
    border: none;
    background-color: #1877f2;
    margin: 0 16px;
    padding: 14px 16px;
    width: 363px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
  }
  .link_zabylu_parol {
    display: block;
    width: 396px;
    font-weight: 500;
    text-decoration: none;
    color: #1877f2;
    padding: 5px 0;
    font-size: 14px;
  }
  .line {
    width: 363px;
    margin: 0 16px;
    border-top: 1px solid #222;
    opacity: 0.2;
  }
  .btn_create {
    width: 230px;
    cursor: pointer;
    font-size: 17px;
    background-color: #42b72a;
    text-align: center;
    border: none;
    box-sizing: content-box;
    font-weight: bold;
    text-align: center;
    line-height: 48px;
    padding: 0 16px;
    border-radius: 6px;
    color: white;
    margin-top: 3%;
  }
  .content_right__desc {
    width: 396px;
    color: #1c1e21;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding-top: 0;
    margin-top: 5%;
    text-align: center;
  }
  .content_right__desc a {
    font-weight: bold;
    text-decoration: none;
    color: #1c1e21;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #737373;
  }
  .footer__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 65%;
  }
  .footer__content__languages {
    border-bottom: 1px solid #f0f2f5;
    display: inline;
    justify-content: flex-start;
    padding-top: 5vh;
    padding-bottom: 3vh;
  }
  .footer__content__languages_link {
    color: #737373;
    margin: 0px 5px;
    text-decoration: none;
  }
  .footer__content__desc {
    display: inline;
    margin: 5vh 0;
  }
  .footer__content__desc_link {
    margin: 5px;
    color: #737373;
    text-decoration: none;
  }
  .link_zabylu_parol:hover,
  .footer__content__desc_link:hover,
  .footer__content__languages_link:hover {
    text-decoration: underline;
  }
  .footer__content__copyright {
    margin: 7px 5px;
  }